@font-face{
    font-family: now;
    src: url(/fonts/Now-Bold.otf);    
    font-weight: bold;     
}

@font-face{
    font-family: now;
    src: url(/fonts/Now-Regular.otf);
    font-weight: normal;
}

@font-face
{
    font-family: mate;
    src: url(/fonts/Mate-Regular.ttf);
    font-weight: normal;
}

*,::before,::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Nunito', sans-serif; */
    font-family: mate;    
}

a{text-decoration: none;}
button{border: none;outline: none;}

.container
{    
    /* background-color: black; */
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;   
    display: flex;
    flex-flow: row nowrap;
    justify-items: center;    
    align-items: center; 
    justify-content: center;  
    min-height: inherit;
    padding: 1vh 15vh;
}

.align-right
{
    margin-left: auto;
}

.top-nav
{    
    /* background-color: #e8ecf1; */
    position: relative;
    top: 0;
    z-index: 99;
    width: 100%;
    padding: 2vh 0;    
}

.top-nav a,.top-nav button
{    
    /* color: rgba(255, 255, 255, 0.59); */
    color: rgba(109, 111, 113, 0.83);
    padding: 0vh 2vh;
    font-size: 1.2rem;    
    transition: color 300ms ease-in-out;
    /* font-weight: bold; */
}

.top-nav button
{
    border: none;
    outline: none;
    background-color: #1f3a93;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 300ms ease-in-out;
}

.top-nav a:hover
{
    color: #2e3131;   
}

.top-nav button:hover
{
    cursor: pointer;
    background-color:#1f3a93c5;
}

#logo
{
    font-family: now;
    padding: 0 0;
    font-size: 2rem;
    /* color: #2e3131; */
    color: #1f3a93;
    font-weight: bold;
}

#active
{    
    /* color: #2e3131; */
    color: #1f3a93;
    font-weight: bold;
}

.hero-section::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/images/hero-image.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    z-index: -1;
    max-width: inherit;
    min-height: inherit;
    padding: 2vh 0;
    width: 100%;
    height: 100%;
}

.hero-section
{    
    padding: 2vh 0;
    position: relative;
    min-height: 80vh;    
    max-width: 100%;
    width: 100%;           
}


.hero-section .hero__content h1
{
    color: #1f3a93;
    font-family: now;
    font-size: 7rem;
    font-weight: bold;
}

.hero-section .hero__content
{
    z-index: 2;
    padding: 2em 3em;
    text-align: justify;
    background-color: #fff;    
    /* background-color: #e8ecf1;  */
    line-height: 1.6;
    max-width: 600px;    
    width: 100%;
    font-size: 1.4rem;
    margin: 1em 0;
}

.hero-section .hero__content button
{
    padding: 0.5em 1em;
    margin: 0.5em 0;
    font-size: 1.2rem;
    background-color: #1f3a93 ;
    transition: background-color 300ms ease-in-out;    
    color: #fff;    
}

.hero-section .hero__content button:hover
{
    cursor: pointer;
    background-color:#1f3a93c5;
}

.hero-section .hero__image
{
    /* margin: 0 0em; */
    max-width: 600px;            
    width: 100%;    
}

.hero-section .hero__image img
{
    max-width: inherit;
    /* max-height: 70vh; */        
    height: 100%;
    width: 100%;    
    object-fit: cover;
}

@media screen and ( max-width: 1200px )
{
    .container
    {
        flex-flow: row wrap;
        padding: 2vh 5vh;
    }

     

}

@media screen and ( max-width: 900px )
{
    .top-nav a:not(:first-child)
    {
        display: none;
    }

    .hero-section .hero__content h1
    {
        font-size: 3rem;
    }
   
}